* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: #DACDB6;
	position: relative;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}
.header-none {
	display: none;
}

.help {
	width: 180px;
	height: 61px;
	background: #448A80;
	-webkit-box-shadow: 0px 2px 10px #494235;
	box-shadow: 0px 2px 10px #494235;
	border-radius: 10px;
	z-index: 10;
	position: fixed;
	right: 25px;
	bottom: 31px;
	cursor: pointer;
}
.help__text {
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
	color: #FFFFFF;
	width: 50%;
	text-align: center;
	margin-top: 10px;
	margin-left: 4px;
}
.help__image {
	position: absolute;
	bottom: 1px;
	right: 2px;
}
.container {
	margin: 0 auto;
	max-width: 1103px;
	padding: 10px;
}
.header__logo {
	width: 100%;
	min-height: 140px;
	background-color: #448A80;
	background-image: url('/src/img/e18b92d97d48a6861f82aefc27718e55 (1).png');
	background-repeat: repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.logo__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

}
.logo__image {
	margin: 0 0 36px 16px;
}
.header__menu {
	width: 100%;
	padding: 0 20px;
	min-height: 50px;
	background: #1A685D;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.menu__list {
	width: 908px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.menu__item {
	padding: 15px 0px;
}
.menu__link {
	font-family: 'Roboto', sans-serif;
	font-family: 'Blinker', sans-serif;
	color: #E3D6BF;
	padding: 15px 28px;
	&:hover {
		background: #1B544C;
		color: #fff;
	}
}
.menu__link_active {
	background: #1B544C;
	color: #fff;
	padding: 15px 28px;
}
.slick-dotted.slick-slider {
	margin: 0;
}
.slider__slide {
	width: 100%;
	max-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	outline: none;
}
.slider__slider-aside {
	width: 80%;
	margin: 203px 0;
	    padding: 0 20px;
}
.slider-aside__header {
	font-family: 'Philosopher', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.slider-aside__text {
	font-family: 'Roboto', sans-serif;
	font-family: 'Blinker', sans-serif;
	font-size: 17px;
	line-height: 25px;
	color: #FFFFFF;
	width: 70%;
}
.slick-dots {
	bottom: 52px;
	li {
		margin: 0;
		button {
			&:before {
			content: "";
			width: 4px;
			height: 4px;
			background-color: #fff;
			opacity: 1;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			margin: -2px 0 0 -2px;
			}
		}
	}
	.slick-active {
		button {
			border: 2px solid #fff;
			border-radius: 50%;
			&:before {
				width: 0;
				height: 0;
			}
		}
	}
}
.main-content {
	position: relative;
	bottom: 21px;
	max-width: 1103px;
	margin: 0 auto 39px;
	background-color: #f4f4f4;
	border-radius: 3px;
}
.main__project {
	padding: 19px 20px;
	border-bottom: 1px solid #E7E7E7;
}
.project__header {
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 39px;
	text-align: center;
	color: #9B7941;
	position: relative;
	margin-bottom: 21px;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 386px;
		background-color: #9B7941;
		position: absolute;
		top: 20px;
		right: 18px;
	}
	&:before {
		content: '';
		display: block;
		height: 1px;
		width: 386px;
		background-color: #9B7941;
		position: absolute;
		top: 20px;
		left: 20px;
	}
}
.project__top {
	margin-left: 20px;
	height: 410px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 615px 20px 388px;
	grid-template-columns: 615px 388px;
	-ms-grid-rows: 1fr 20px 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	'project__images-one project__images-two'
	'project__images-one project__images-three';
	grid-gap: 20px;
}
.project__images-one {
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
	-ms-grid-column: 1;
	position: relative;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
	-ms-grid-column: 1;
	grid-area: project__images-one;
	background: url('/src/img/Rectangle (7).png') no-repeat;
}
.images-one__aside {
	width: 100%;
	min-height: 69px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 27px;
	color: #FFFFFF;
	background: rgba(26, 26, 26, 0.3);
	position: absolute;
	bottom: 0;
}
.project-image-one-text {
	margin: 19px 0 0 25px;
}
.project__images-two {
	position:relative;
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: project__images-two;
	background: url('/src/img/Rectangle.png') no-repeat;
}
.images-two__aside {
	width: 100%;
	min-height: 99px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 27px;
	color: #FFFFFF;
	background: rgba(26, 26, 26, 0.3);
	position: absolute;
	bottom: 0;
}
.project-image-two-text {
	margin: 22px 0 0 25px;
}
.project__images-three {
	position: relative;
	-ms-grid-row: 3;
	-ms-grid-column: 3;
	grid-area: project__images-three;
	background: url('/src/img/Rectangle (9).png') no-repeat;
}
.images-three__aside {
	width: 100%;
	min-height: 99px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 27px;
	color: #FFFFFF;
	background: rgba(26, 26, 26, 0.3);
	position: absolute;
	bottom: 0;
}
.project-image-three-text {
	width: 50%;
	margin: 22px 0 0 25px;
}

/* ---------------------Slider------------------ */
.multiple-items {
	max-width: 1023px;
	margin: 21px auto 0;
}
.bottom-slider__slide {
	max-width: 501.53px;
	height: 195.43px;
	margin-right: 20px;
	position: relative;
	outline: none;
}
.slide__aside {
	width: 100%;
	min-height: 69px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 27px;
	color: #FFFFFF;
	background: rgba(26, 26, 26, 0.3);
	position: absolute;
	bottom: 0;
}
.slider-aside__text-one {
	width: 50%;
	margin: 19px 0 0 25px;
}
.slider-aside__text-two {
	width: 50%;
	margin: 20px 0 0 16px;
}
.slider-aside__text-three {
	width: 50%;
	margin: 19px 0 0 25px;
}
.slick-prev {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0.8);
	background-image: url('/src/img/Vector (26).png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 1;
	left: 0;
	&:before {
		content: '';
	}
	&:hover,&:focus {
		width: 50px;
		height: 50px;
		background: rgba(255, 255, 255, 0.8);
		background-image: url('/src/img/Vector (26).png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		z-index: 1;
	}
}
.slick-next {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0.8);
	background-image: url('/src/img/Vector (27).png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	z-index: 1;
	right: 19px;
	&:before {
		content: '';
	}
	&:hover,&:focus {
		width: 50px;
		height: 50px;
		background: rgba(255, 255, 255, 0.8);
		background-image: url('/src/img/Vector (27).png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		z-index: 1;
	}
}
.slick-track {
	margin-left: 0;
	width: 1395px;
}
/* ------------------main__news--------------*/


.main__news {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 316px;
	grid-template-columns: 1fr 316px;
	-ms-grid-rows: 1fr 420px 430px 96px;
	grid-template-rows: 1fr 420px 430px 96px;
	grid-template-areas:
	'new-top sidebar'
	'new-middle sidebar'
	'new-bottom sidebar'
	'menu sidebar';
}
.news-top__header {
	margin-top: 24px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 39px;
	text-align: center;
	color: #9B7941;
	position: relative;
	margin-bottom: 25px;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 250px;
		background-color: #9B7941;
		position: absolute;
		top: 21px;
		right: 27px;
	}
	&:before {
		content: '';
		display: block;
		height: 1px;
		width: 250px;
		background-color: #9B7941;
		position: absolute;
		top: 21px;
		left: 21px;
	}
}
.news__top {
	padding: 0 35px;
	grid-area: new-top;
	border-bottom: 1px solid #e7e7e7;
}
.news-top__text-one {
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 29px;
	color: #448A80;
	margin-left: 17px;
}
.news-top__text-two {
	font-family: HelveticaNeueCyr;
	font-size: 15px;
	line-height: 25px;
	color: #1A1A1A;
	margin-left: 17px;
	margin-top: 16px;
}
.button {
	width: 213px;
	height: 40px;
	background: #9B7941;
	border-radius: 3px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	margin: 24px 0 33px 16px;
}
.news__middle {
	padding: 23px 43px 0 32px;
	grid-area: new-middle;
	border-bottom: 1px solid #e7e7e7;
}
.news-middle__text-one {
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 29px;
	color: #448A80;
	margin-left: 17px;
}
.news-middle__text-two {
	font-family: HelveticaNeueCyr;
	font-size: 15px;
	line-height: 25px;
	color: #1A1A1A;
	margin-left: 17px;
	margin-top: 16px;
}
.button {
	width: 213px;
	height: 40px;
	background: #9B7941;
	border-radius: 3px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	margin: 24px 0 0 16px;
}
.news__bottom {
	grid-area: new-bottom;
	padding: 21px 43px 0 32px;
	border-bottom: 1px solid #e7e7e7;
}
.news-bottom__text-one {
		font-family: Philosopher;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 29px;
		color: #448A80;
		margin-left: 17px;
}
.news-bottom__text-two {
	font-family: HelveticaNeueCyr;
	font-size: 15px;
	line-height: 25px;
	color: #1A1A1A;
	margin-left: 17px;
	margin-top: 16px;
}
.button {
	width: 213px;
	height: 40px;
	background: #9B7941;
	border-radius: 3px;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	margin: 24px 0 0 16px;
}
.news-top__button {
	margin-bottom: 33px;
}
.news__menu {
	grid-area: menu;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.menu__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-right: 16px;
	width: 540px;
}
.menu__paginator-prev, .menu__paginator-next {
	font-family: HelveticaNeueCyr;
	font-size: 16px;
	line-height: 16px;
	color: #448A80;
	margin-top: 3px;
	margin-right: 4px;
}
.menu__paginator-prev {
	margin-top: 2px;
}
.menu__paginator-next {
    margin-top: 2px;
		margin-right: 2px;
}
.menu__paginator-link {
	font-family: HelveticaNeueCyr;
	font-size: 15px;
	line-height: 15px;
	text-align: center;
	color: #448A80;
}
.menu__paginator-link_active {
	border: 2px solid #9B7941;
	border-radius: 50%;
	padding: 5px 9px;
}
.news__sidebar {
	grid-area: sidebar;
	border-left: 1px solid #E7E7E7;
}
.sidebar__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.sidebar-top__text {
	font-family: HelveticaNeueCyr;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color: #448A80;
	margin: 22px 0 20px 0;
}
.sidebar-top__text-transform {
	font-family: HelveticaNeueCyr;
	font-size: 16px;
	line-height: 140%;
	color: #9B7941;
	text-align: center;
}
.sidebar-top__image {
	margin-bottom: 37px;
}
.sidebar__text {
	margin: 4px 7px 0 0;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #448A80;
	margin-right: 6px;
}
.sidebar__middle-image {
	margin: 27px 0 55px 31px;
	width: 255.2px;
	height: 360px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: url('/src/img/Рамка.png') no-repeat;
}
.sidebar-middle__image {
	width: 130px;
	height: auto;
	margin-top: 2px;
}
.sidebar-middle__text {
	width: 70%;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #1A1A1A;
	margin-top: 17px;
}
.sidebar-middle__text-transform {
	color: #9B7941;
}
.sidebar-bottom__image-one {
	margin-bottom: 16px;
}
.cloister {
	max-height: 698px;
	padding: 42px;
	background-color: #E7E7E7;
}
.cloister__header {
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 39px;
	text-align: center;
	color: #9B7941;
	position: relative;
	margin-bottom: 32px;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 250px;
		background-color: #9B7941;
		position: absolute;
		top: 21px;
		right: 103px;
	}
	&:before {
		content: '';
		display: block;
		height: 1px;
		width: 250px;
		background-color: #9B7941;
		position: absolute;
		top: 21px;
		left: 103px;
	}
}
.cloister__wrap {
	max-width: 745px;
	margin: 0 auto;
}
.cloister-wrap__image {
	margin: 0 auto 23px;
	width: 100%;
}
.cloister-wrap__text {
	font-family: HelveticaNeueCyr;
	font-size: 15px;
	line-height: 25px;
	color: #1A1A1A;
}
.benefactors {
	padding: 41px 20px;
}
.benefactors__header {
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 39px;
	text-align: center;
	color: #9B7941;
	position: relative;
	margin-bottom: 57px;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 250px;
		background-color: #9B7941;
		position: absolute;
		top: 21px;
		right: 125px;
	}
	&:before {
		content: '';
		display: block;
		height: 1px;
		width: 250px;
		background-color: #9B7941;
		position: absolute;
		top: 21px;
		left: 125px;
	}
}
.benefactors__image {
	max-width: 956px;
	margin: 0 auto 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer {
	width: 100%;
	min-height: 190px;
	background: #1B544C;
}
.container__footer {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.footer__wrap {
	max-width: 1103px;
	margin: 12px 14px 24px 10px;
	background: url('/src/img/LOGO (2).png') no-repeat -25px ;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 100px;
}
.wrap__left-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 76px;
}
.left-wrap__list {
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 28px;
	margin-left: 64px;
}
.footer-wrap__footer-wrap-item {
	&:first-child {
		margin-bottom: 18px;
	}
}
.wrap__right-wrap {
	margin-top: 27px;
}
.footer-right-wrap__text-one {
	text-align: right;
	margin-bottom: 12px;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	text-align: right;
	color: #FFFFFF;
}
.footer-right-wrap__text-two {
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 150%;
	text-align: right;
	color: #FFFFFF;
	text-align: right;
	margin-bottom: 12px;
}
.footer__aside {
	margin-left: 10px;
	margin-right: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer-aside__text {
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
}
.aside-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-aside-right__text {
	margin-top: 4px;
	margin-right: 15px;
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: 12px;
	color: #fff;
}




 @font-face {
    font-family: HelveticaNeueCyr;
    src: url('/fonts/helveticaneuecyr-roman.otf');
}
